<div class="promo-page">
    <div class="promo-tabs js-easytabs">

        <ul class='etabs'>
            <li class='tab'><a href="#prizes">Призы</a></li>
            <li class='tab'><a href="#rules">Как выиграть призы</a></li>
            <li class='tab'><a href="#terms">Правила и условия</a></li>
        </ul>

        <div id="prizes" class="promo-tabs__tab-content">
            {% include CosmicPromo/prizes.html %}
        </div>

        <div id="rules" class="promo-tabs__tab-content">
            {% include CosmicPromo/rules.html %}
        </div>

        <div id="terms" class="promo-tabs__tab-content">
            {% include CosmicPromo/terms.html %}
        </div>

    </div>
</div>
