.cosmic-promo {

    &__prizes {
        width: 100%;
        height: 3509px;
        background: url(../img/cosmic-promo/prizes.jpg) top center no-repeat;
    }

    &__text-content {
        padding: 40px 80px;
    }
}
